<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Places of Interest" subTitle="Please enjoy and add to all the wonder places to visit in Ireland"}}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="300" src="images/ireland1.png" />
    </div>
    <div class="uk-width-expand@m">{{> add-poi}}</div>
  </div>
</div>
<!--Commit Test2 -->
