<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> login-card title="Ireland and her Places of Interest" subTitle="Sign up or Log in"}}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-left uk-flex-middle uk-text-center" uk-grid>
    <div style="margin-left: -2em" class="uk-width-1-3@m">
      <img width="300" src="images/ireland1.png" />
    </div>
    <div style="margin-left: -4em" class="uk-width-1-2@m">
      <h1 class="uk-heading-small">Welcome to Ireland </h1>
      <p>And her Places of Interest</p>
      {{> error }}
    </div>
  </div>
</div>
