<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Points of Interest List" subTitle="Please check out all of these places to enjoy"}}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-left uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
      {{> poi-list}}
    </div>
    <div class="uk-width-auto@m">
      <img width="200" src="images/ireland1.png">
    </div>
  </div>
</div>
